<!-- SECCIÓN DE SERVICES (services.html) Angelo Castro -->
<section class="services-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Imagen circular izquierda -->
      <div class="col-md-6 text-center mb-4 mb-md-0">
        <img src="https://www.bing.com/images/search?view=detailV2&ccid=JzvgOFts&id=98CD1C1D190B886714D456144B43073A32762498&thid=OIP.JzvgOFtsN8JDbW3qXi-ppgHaE8&mediaurl=https%3a%2f%2fplus.unsplash.com%2fpremium_photo-1661628680845-39b71e9be303%3ffm%3djpg%26q%3d60%26w%3d3000%26ixlib%3drb-4.0.3%26ixid%3dM3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%253D%253D&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.273be0385b6c37c2436d6dea5e2fa9a6%3frik%3dmCR2MjoHQ0sUVg%26pid%3dImgRaw%26r%3d0&exph=2000&expw=3000&q=persona+escribiendo+en+nteclado+inalambrico&FORM=IRPRST&ck=5921A128C223445D29F4B0B9121BD1F0&selectedIndex=7&itb=0" 
             alt="Persona escribiendo en teclado inalámbrico"
             class="rounded-circle img-fluid"
             style="width: 250px; height: 250px; object-fit: cover;">