<!-- your html code here Julio Araya -->


 <div class="bg-img" style="background: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1711/New-York-city-skyscrapers-river-USA-dusk_3840x2160.jpg') 
 center/cover no-repeat; height: 400px;">

  <style>
        
    .hero {
      
      height: auto;
      padding-top: 50px;
      position: relative;
      margin: 0px;
    
    }

   
    .titulo {
      background: white;
      font-size: 80px;
      opacity: 0.8;
      color: black;
      font-weight: 700;
      


      
      
      
    }
    .subtitulo {
      background: white;
      font-size: 30px;
      opacity: 0.8;
      color: black;
      
    }
  </style>


 
  <div class="hero d-flex align-items-center text-center">
    <div class="container-fluid">

      <!-- Franja 1 -->
      <div class="titulo w-100 py-3">
        One Page Wonder
      </div>

      <div class="subtitulo w-100 py-2 mt-3">
        Will Knock Your Socks Off
      </div>

    </div>